#root{
    width: 100%;
    height: 100%;
}

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}



a{text-decoration:none}

a:hover{text-decoration:underline}

em{font-style:normal}

li{list-style:none}

img{border:0;vertical-align:middle}

table{border-collapse:collapse;border-spacing:0}

p{word-wrap:break-word}

.inputItem {
    display: block;
    margin-bottom: 20px;
}

.inputItem .titleItem{
    padding-right: 20px;
    display: inline-block;
    width: 100px;
    text-align: right;
}

.inputItem .ant-input {
    width: auto;
}